.header
  height: 80px
  background: #000

  .container
    height: 100%

.header__content
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%

.header__left
  flex-shrink: 0

.header__center
  flex-grow: 1
  flex-shrink: 0

.header__right
  flex-basis: 460px
  height: 60px
  flex-shrink: 0
  background: #cccccc


.header__ads
  width: 100%

.header__ads-content
  width: 100%

.header__list
  display: flex
