@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(/fonts/OpenSans-Regular.eot?cfabf0c2b781600308b887f56d4f18cd) format("eot"), url(/fonts/OpenSans-Regular.woff2?a725497524525c361f0d545e4e8ec577) format("woff2"), url(/fonts/OpenSans-Regular.woff?9863aaace5fcaf897956737ef26b427f) format("woff"), url(/fonts/OpenSans-Regular.ttf?a05c11bfc8ff02126f04c7c55f804c23) format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  font-display: swap;
  src: url(/fonts/Montserrat-ExtraBold.eot?0a644fe2258acf039ee55e2f3a02ec52) format("eot"), url(/fonts/Montserrat-ExtraBold.woff2?86f696306454c464430c044661491696) format("woff2"), url(/fonts/Montserrat-ExtraBold.woff?c8f6bb7727c6544803c38457eaf64b98) format("woff"), url(/fonts/Montserrat-ExtraBold.ttf?a2b7bf0b5649f7a42148054aa2d1469f) format("truetype"), url(/fonts/Montserrat-ExtraBold.svg?bd1a2820452530b0b3b190cbea2cfa62#Montserrat-ExtraBold) format("svg");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url(/fonts/Montserrat-Regular.eot?6fd3cfb86220748bb86d7daf7add87d7) format("eot"), url(/fonts/Montserrat-Regular.woff2?cdac0e14416b03c27de1bbb6504372c2) format("woff2"), url(/fonts/Montserrat-Regular.woff?10de889b9652549f62ebd788122eb00a) format("woff"), url(/fonts/Montserrat-Regular.ttf?e7f3b69fe713acca67afd83483342b2c) format("truetype"), url(/fonts/Montserrat-Regular.svg?108e0d2571cb14e320c71113144debf3#Montserrat-Regular) format("svg");
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url(/fonts/Montserrat-Light.eot?d7dd915fdf8de38f55afb9bc1f7a1ff7) format("eot"), url(/fonts/Montserrat-Light.woff2?350710de252b75fa243584f651204e14) format("woff2"), url(/fonts/Montserrat-Light.woff?9951dae5ac4ab6a273f87b79347f420c) format("woff"), url(/fonts/Montserrat-Light.ttf?dec4517d3250030f564f400f57320a1e) format("truetype"), url(/fonts/Montserrat-Light.svg?a086e6a41e0c5703ccb2ee869909a5f1#Montserrat-Light) format("svg");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  width: 100%;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

.hidden {
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

